$primary-color: hsl(234, 12%, 34%);
$secondary-color: hsl(229, 6%, 66%);
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$desktop-view: "only screen and (min-width : 770px)";
$font: 0.8rem;

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5rem;
  color: $primary-color;
  p {
    color: $secondary-color;
  }
}

body {
  padding: 2rem;
}
