@import "config";

// Header Section
header {
  margin: 4rem 0;

  .head-text {
    text-align: center;
    font-size: 0.8rem;

    h1 {
      font-weight: 200;
      line-height: 2.5rem;
      span {
        font-weight: 600;
      }
    }

    p {
      font-size: 1rem;
      padding: 0;
    }
  }
}

// Main Section
main {
  // text-align: center;

  .card {
    margin: 0 auto;
    border-top: 4px solid;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 2rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 255, 0.15);
    max-width: 300px;

    &.supervisor {
      border-top-color: $cyan;
    }

    &.team-builder {
      border-top-color: $red;
    }

    &.karma {
      border-top-color: $orange;
    }

    &.calculator {
      border-top-color: $blue;
    }

    .card-text {
      text-align: left;
      padding: 0;
      margin: 0 0 2rem 0;

      h2 {
        margin: 0;
      }
      p {
        font-size: 0.88rem;
        margin: 0.6rem 0;
      }
    }

    .card-icon {
      text-align: right;
    }
  }
}

@media #{$desktop-view} {
  header {
    .head-text {
      max-width: 50%;
      margin: auto;

      h1 {
        font-size: 2.2rem;
        line-height: normal;
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    .column {
      margin: 0 1rem;
    }

    .col1,
    .col3 {
      align-self: center;
    }
  }
}
