html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5rem;
  color: #4c4e61;
}

html p {
  color: #a3a5ae;
}

body {
  padding: 2rem;
}

header {
  margin: 4rem 0;
}

header .head-text {
  text-align: center;
  font-size: 0.8rem;
}

header .head-text h1 {
  font-weight: 200;
  line-height: 2.5rem;
}

header .head-text h1 span {
  font-weight: 600;
}

header .head-text p {
  font-size: 1rem;
  padding: 0;
}

main .card {
  margin: 0 auto;
  border-top: 4px solid;
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 2rem;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 255, 0.15);
          box-shadow: 0px 5px 15px rgba(0, 0, 255, 0.15);
  max-width: 300px;
}

main .card.supervisor {
  border-top-color: #45d3d3;
}

main .card.team-builder {
  border-top-color: #ea5353;
}

main .card.karma {
  border-top-color: #fcaf4a;
}

main .card.calculator {
  border-top-color: #549ef2;
}

main .card .card-text {
  text-align: left;
  padding: 0;
  margin: 0 0 2rem 0;
}

main .card .card-text h2 {
  margin: 0;
}

main .card .card-text p {
  font-size: 0.88rem;
  margin: 0.6rem 0;
}

main .card .card-icon {
  text-align: right;
}

@media only screen and (min-width: 770px) {
  header .head-text {
    max-width: 50%;
    margin: auto;
  }
  header .head-text h1 {
    font-size: 2.2rem;
    line-height: normal;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  main .column {
    margin: 0 1rem;
  }
  main .col1,
  main .col3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
